%h1 Editing climate_control_unit

= render 'form'

= link_to 'Show', room_climate_control_unit_path(@room, @climate_control_unit), class: 'btn btn-primary'
\|
= link_to 'Back', room_climate_control_units_path(@room), class: 'btn btn-primary'
